<!-- ============================== SEARCH ================================= -->
<!-- Donde se encuentra la barra de búsqueda para comenzar a buscar contenido -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Movierole - Search</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link th:href="@{/vendor/aos/aos.css}" rel="stylesheet" type="text/css">
  <!-- Ajustar a pantalla -->
  <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
  <link th:href="@{/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet" type="text/css">
  <!-- Iconos de Github -->
  <link th:href="@{/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet" type="text/css">
  <link th:href="@{/vendor/glightbox/css/glightbox.min.css}" rel="stylesheet" type="text/css">
  <link th:href="@{/vendor/remixicon/remixicon.css}" rel="stylesheet" type="text/css">
  <link th:href="@{/vendor/swiper/swiper-bundle.min.css}" rel="stylesheet" type="text/css">

  <!-- Template Main CSS File -->
  <link href="css/style.css" rel="stylesheet" type="text/css" th:href="@{/css/index.css}">

  <!-- =======================================================
  * Template Name: Arsha - v4.7.1
  * Template URL: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>
  <!-- ================================== HEADER ==================================== -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">
      <h1 class="logo me-auto"><a href="/app">MoviErole</a></h1>
      <!-- ========= NAVBAR ========= -->
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href=".">Search</a></li>
          <li><a class="nav-link scrollto" href="app/about">About</a></li>
          <li><a class="getstarted scrollto" th:href="@{/app/topMovies}">Top Movies</a></li>
          <li><a class="getstarted scrollto" th:href="@{/app/topSeries}">Top Series</a></li>
          <li><a href="/app"><img th:src="@{/img/logoblanco2.png}" alt="" width="30" height="30"></a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
      <!-- ======= END NAVBAR ======= -->
    </div>
  </header>
  <!-- ================================ END HEADER ================================== -->

  <!-- =================================== HERO ===================================== -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1">
          <h1>Search media</h1>
        </div>
      </div>

      <br>
      <br>
      <br>

      <!-- === SEARCH BAR FORM === -->
      <form th:action="@{/app/query}" method="get" th:object="${query}">

        <div class="input-group mb-3 input-group-lg">
          <select class="btn btn-secondary dropdown-toggle" th:field="*{type}" id="inlineFormCustomSelectPref">
            <option class="text-start" value="1" th:value="Search">Search All</option>
            <option class="text-start" value="2" th:value="SearchMovie">Search Movie</option>
            <option class="text-start" value="3" th:value="SearchSeries">Search Series</option>
          </select>

          <input th:field="*{keyWord}" type="text" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-lg">
          <button type="submit" class="btn btn-primary">Search</button>


        </div>
      </form>
      <!-- === END SEARCH BARFORM === -->

      <br>

      <!-- Botón de Logout -->
      <form th:action="@{/logout}">
        <input type="submit" value="LogOut" class="btn-get-started scrollto">
      </form>

    </div>

  </section>
  <!-- ================================== END HERO ==================================== -->


  <!-- =================================== FOOTER ===================================== -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-0 col-md-15 footer-contact">
            <h3>Authors</h3>
            <p>
              Created by ... Erole
            </p>
          </div>
          <!-- Enlaces a nuestros Githubs -->
          <div class="col-lg-auto col-md-6 footer-links">
            <h4>Our Githubs</h4>
            <div class="social-links mt-3">
              <a href="https://github.com/artachojf" class="github"><i class="bx bxl-github"></i></a>
              <a href="https://github.com/AstudilloUMA" class="github"><i class="bx bxl-github"></i></a>
              <a href="https://github.com/4ntoniofr" class="github"><i class="bx bxl-github"></i></a>
              <a href="https://github.com/NachoA15" class="github"><i class="bx bxl-github"></i></a>
              <a href="https://github.com/C4m4ch0" class="github"><i class="bx bxl-github"></i></a>
              <a href="https://github.com/marinasayago" class="github"><i class="bx bxl-github"></i></a>
              <a href="https://github.com/IvanUma" class="github"><i class="bx bxl-github"></i></a>
              <a href="https://github.com/ManuJerezUMA" class="github"><i class="bx bxl-github"></i></a>
              <a href="https://github.com/diegolrUMA" class="github"><i class="bx bxl-github"></i></a>
              <a href="https://github.com/MarioMerZap" class="github"><i class="bx bxl-github"></i></a>
            </div>
          </div>

        </div> <a href="https://pbs.twimg.com/ext_tw_video_thumb/1382627727409356804/pu/img/GdGmoTLvnJw63kpO.jpg" style="color:white">Coronel</a>
      </div>
    </div>
  </footer>
  <!-- =============================== END FOOTER ================================= -->

  
    <!-- Vendor JS Files -->
    <script src="assets/vendor/aos/aos.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>
</body>

</html>